*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100%;
}

html,
body {
  font-family: "Roboto Regular";
  font-size: 16px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center, .header, .header__nav, .landing__wrapper, .preview, .post, .post__details, .about-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 1rem;
  background-color: whitesmoke;
  min-height: 18vh;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__title-link {
  color: #2a9d8f;
  font-family: "Roboto Slab Bold";
  margin: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__title-link {
    margin: unset;
  }
}

.header__nav {
  list-style: none;
}

@media (min-width: 768px) {
  .header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 8rem;
  }
}

.header__link {
  color: #e76f51;
}

@media (min-width: 768px) {
  .header__link {
    font-size: 1.25rem;
  }
}

.landing {
  background-image: url("/imgs/hero_mobile.png");
  background-size: cover;
  background-position: center;
  min-height: 92vh;
}

@media (min-width: 768px) {
  .landing {
    background-image: url("/imgs/hero.png");
  }
}

@media (min-width: 768px) {
  .landing__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.preview {
  padding: 1rem;
}

@media (min-width: 768px) {
  .preview {
    padding: 2rem;
  }
}

.post {
  margin: 0 0 1rem 0;
  height: 52rem;
  background-color: whitesmoke;
}

@media (min-width: 768px) {
  .post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 32rem;
    min-width: 44rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.post__img {
  height: 30rem;
}

.post__details {
  height: 20rem;
}

.post__title {
  font-size: 1.5rem;
  font-family: "Roboto Slab Bold";
  margin: 1rem;
}

.post__author-icon {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  margin: 0 0 1rem 0;
}

.post__author {
  font-family: "Roboto Medium";
  margin: 0 0 0.5rem 0;
}

.post__date {
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
}

.post__summary {
  width: 18rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .post__summary {
    width: 15rem;
  }
}

.about-l {
  height: 30rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .about-l {
    height: 35rem;
  }
}

.about-l__title {
  font-family: "Roboto Bold";
  color: #264653;
  margin: 0.5rem 0;
  text-align: center;
}

.about-l__subtitle {
  text-align: center;
  font-family: "Roboto Slab Medium";
  color: #2a9d8f;
  margin: 0.5rem 0;
}

.about-l__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  margin: 0.5rem 0;
}

.about-l__description {
  text-align: justify;
  margin: 0.5rem 0;
  color: #264653;
  width: 14rem;
}

.about-l__link {
  margin: 0.5rem 0;
}

.about-l__btn {
  background-color: #2a9d8f;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Roboto Medium";
  cursor: pointer;
}

.about-l__social {
  background-color: white;
  border: none;
  height: 4rem;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../assets/fonts/roboto-medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../assets/fonts/robotoslab-regular.ttf");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("../../assets/fonts/robotoslab-medium.ttf");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../../assets/fonts/robotoslab-bold.ttf");
}
/*# sourceMappingURL=main.css.map */