//Header Component Styles

.header {
  padding: 1rem;
  background-color: whitesmoke;
  min-height: 18vh;
  @extend .flex-center;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }

  &__title-link {
    color: $highlight;
    font-family: $slab-bold;
    margin: 1rem;
    text-align: center;

    @include tablet {
      margin: unset;
    }
  }

  &__title {
  }

  &__nav {
    list-style: none;
    @extend .flex-center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 8rem;
    }
  }

  &__li {
  }

  &__link {
    color: $headers;

    @include tablet {
      font-size: 1.25rem;
    }
  }
}
