//Landing Component Styles

.landing {
  background-image: url("/imgs/hero_mobile.png");
  background-size: cover;
  background-position: center;
  min-height: 92vh;

  @include tablet {
    background-image: url("/imgs/hero.png");
  }

  &__title {
    display: none;
  }
}
